*, *::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

ul{
    padding: 0;
}

.nav__btn {
    display: none;
}

p{
    color: hsl(227, 12%, 61%);
    /* max-width: 80%; */
    font-size: .95em;
    line-height: 1.8em;
}

header {
    margin-top: 1.8em;
}

.nav-toggle{
    cursor: pointer;
    border: 0;
    position: absolute;
    right: 20px;
}

.nav{
    width: 100%;
    /* opacity: 0; */
    visibility: hidden;
    height: 0;
    position: absolute;
    top: 0;
    
}

.nav--visible{
    /*opacity: 1;
    */visibility: visible;
    height: auto;
    position: relative;
    background-color: #fff;
    width: 90%;
    padding: 1em 0;
    margin-top: 1.5em;
    border-radius: 3px;
    box-shadow: 2px 2px black;
    text-align: center;
}

.nav__item{
    color: hsl(228, 39%, 23%);
}

.nav__list{
    margin-bottom: 1.2em;
}

.nav__list:hover,
.nav__list:focus,
.nav__list:active{
    opacity: 0.6;
    /* font-size: 1.2em; */
}

.container{
    padding: 0 2em;
    
}

.order{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.col1 {
    order: 2;
    text-align: center;
}

.illustration {
    order: 1;
}
.main__title{
    font-size: 2em;
    text-align: center;
    line-height: 1.2em;
    color: hsl(228, 39%, 23%);
}

.feature__heading{
    color: hsl(228, 39%, 23%);
}

.main__content,
.feature__content {
    margin: 0 auto;
    text-align: center;
}

.btn{
    background-color: hsl(12, 88%, 59%);
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
    padding: .58em .95em;
    border-radius: 100px;
    margin-top: 1.5em;
}

.column{
    margin-bottom: 3em;
}

.feature__title{
    color: hsl(228, 39%, 23%);
    line-height: 1.45em;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.feature__number{
    color: #fff;
    background-color: hsl(12, 88%, 59%);
    padding: 0.45em 1em;
    border-radius: 1em;
}

.feature__heading{
    align-self: center;
    background-color:hsl(13, 100%, 96%);
    letter-spacing: .08em;
    width: 95%;
    padding: .45em 0 .45em 1.5em;
}

.feature__list--content{
    text-align: left;
    font-size: .9em;
    padding-left: 1.5em;
    max-width: 90%;
}

.feature__list--heading{
    font-size: .75em;
    margin-left: 1em;
    /* width: 100%; */
}

.primary__footer{
    background-color: hsl(12, 88%, 59%);
    text-align: center;
    padding: 3.5em 1em;
}

.primary__footer--text{
    color: #fff;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 700;
    width: 75%;
    margin: 0 auto;
}

.footer__btn{
    background-color: #fff;
    color: hsl(12, 88%, 59%);
}

.secondary__footer{
    background-color: hsl(233, 12%, 13%);
    padding: 1.5em;
    /* text-align: center; */
    /* margin: 0 auto; */
}

.footer__link{
    padding-bottom: .85em 0 .85em 0;
    order: 2;
    /* margin: auto; */
}

.secondary__footer--icons{
    text-align: center;
    order: 3;
}

.copy__right{
    order: 4;
    margin-top: .85em;
    align-self: center;
}


.footer__logo{
    width: 40%;
    margin-bottom: 2em;
}

.socials + .socials{
    padding-left: 1.4em;
}

.socials > img{
    width: 10%;
}

.footer__link--item > a{
    color: hsl(0, 0%, 98%);
    font-size: .9em;
    font-weight: 400;
}

.footer__link--item {
    margin-bottom: .9em;
}

.footer__link--list{
    width: 45%;
    padding-left: 2em;
}


.update__area{
    text-align: center;
    order: 1;
}

.input__area{
    padding: .85em 1.2em;
    border-radius: 100px;
    border: none;
    margin-right: .5em;
}

.input__btn{
    font-size: 1em;
    padding: .75em 1.8em;
}

.copy__right{
    background-color: hsl(233, 12%, 13%);
    margin-top: 0;
    border: 0;
    padding: 1em 0;
}

.copy-right{
    text-align: center;
    margin: auto;
    font-size: .7em;
}


/* carousel */
#testimonial_area {
    padding: 10% 0;
  }

  .box-area {
    padding: 30px;
    background: hsl(0, 0%, 98%);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin: 40px 0;
    display: block;
    position: relative;
    border-radius: 10px;
  }

  .box-area h5 {
    font-size: 16px;
    font-weight: 700;
    color: hsl(228, 39%, 23%);
    margin-top: 30px;
    letter-spacing: 1px;
  }

  .box-area .content {
    color: hsl(227, 12%, 61%);
  }

  .box-area .img-area {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    z-index: 0;
  }

  .box-area .img-area img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .custom {
    text-align: center;
  }

  h4 {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(228, 39%, 23%);
  }

  #testimonial_area .owl-prev,
  #testimonial_area .owl-next {
    width: 2.7rem;
    height: 2.7rem;
    line-height: 2.7rem;
    color: blue;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    position: absolute;
  }

@media  (min-width: 600px) {
    
    .container{
        padding: 0 5em;
    }
    .nav-toggle{
        display: none;
    }

    .nav{
        visibility: visible;
        height: auto;
        position: relative;
        width: 40%;
        padding: auto 0;
    }

    
   .nav__btn {
    display: block;
    }

    .btn{
        margin-top: 0;
    }


    header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

    .nav__list{
    float: left;
    margin-right: 2em;
   }

   .order{
    flex-direction: row;
    flex-wrap: nowrap;
   }

   .column{
    width: 50%;
   }

   .col1 {
    order: 1;
    text-align: start;
}

    .main__title{
    text-align: start;
    max-width: 70%;
    }

    .main__content{
        text-align: start;
        margin: 0;
        max-width: 60%;
        margin-bottom: 2em;
    }

    .illustration {
    order: 2;
    }

    .feature{
        display: flex;
        padding: 0 5em;
    }

    .feature__content{
        margin: 0;
        text-align: start;
        width: 70%;
        padding-top: 1em;
    }

    .feature__heading{
        background-color: #fff;
    }

    .feature__list--content{
        padding-left: 5em;
    }

    .feature__title{
        width: 60%;
        margin: 0;
        text-align: start;
    }

    .primary__footer{
        display: flex;
        justify-content: space-around;
    }

    .primary__footer--text{
        width: 40%;
        margin: 0;
        text-align: start;
    }

    .secondary__footer{
        justify-content: space-around;
    }

    .update__area{
        order: 3;
    }

    .secondary__footer--icons{
        order: 1;
    }
    
    .space{
        width: 30%;
    }

    .copy-right{
        position: relative;
        right: 15em;
        top: 0;
        text-align: right;
    }

    

}