*, *::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

ul{
    padding: 0;
}

.nav > button{
    display: none;
}

p{
    color: hsl(227, 12%, 61%);
    max-width: 80%;
    text-align: center;
    font-size: .95em;
    line-height: 1.8em;
    margin: 0 auto;
}

.logo{
    
}

header {
    margin-top: 1.8em;
}

.nav-toggle{
    cursor: pointer;
    border: 0;
    position: absolute;
    right: 20px;
}

.nav{
    width: 100%;
    visibility: hidden;
    height: 0;
    position: absolute;

}

.nav--visible{
    visibility: visible;
    height: auto;
    position: relative;
    background-color: #fff;
    width: 90%;
    padding: 1em 0;
    margin-top: 1.5em;
    border-radius: 3px;
}

.nav__item{
    color: hsl(228, 39%, 23%);
}

.nav__list{
    margin-bottom: 1.2em;
}

.nav__list:hover,
.nav__list:focus,
.nav__list:active{
    opacity: 0.6;
    /* font-size: 1.2em; */
}



.container{
    padding: 0 2em;
    text-align: center;
}

.order{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.col1 {
    order: 2;
}

.illustration {
    order: 1;
}
.main__title{
    font-size: 2em;
    text-align: center;
    line-height: 1.2em;
    color: hsl(228, 39%, 23%);
}

.btn{
    background-color: hsl(12, 88%, 59%);
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
    padding: .58em .95em;
    border-radius: 100px;
    margin-top: 1.5em;
}

.column{
    margin-bottom: 3em;
}

.feature__title{
    color: hsl(228, 39%, 23%);
    line-height: 1.45em;
    text-align: center;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.feature__number{
    color: #fff;
    background-color: hsl(12, 88%, 59%);
    padding: 0.45em 1em;
    border-radius: 1em;
}

.feature__heading{
    align-self: center;
    background-color:hsl(13, 100%, 96%);
    letter-spacing: .08em;
    width: 95%;
    padding: .45em 0 .45em 1.5em;
}

.feature__list--content{
    text-align: left;
    font-size: .9em;
}

.feature__list--heading{
    font-size: .75em;
    margin-left: 1em;
    /* width: 100%; */
}

.primary__footer{
    background-color: hsl(12, 88%, 59%);
    text-align: center;
    padding: 3.5em 1em;
}

.primary__footer--text{
    color: #fff;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 700;
    width: 75%;
    margin: 0 auto;
}

.footer__btn{
    background-color: #fff;
    color: hsl(12, 88%, 59%);
}

.secondary__footer{
    background-color: hsl(233, 12%, 13%);
    padding: 1.5em;
}

.footer__link{
    padding-bottom: .85em 0 .85em 0;
    order: 2;
    /* margin: auto; */
}

.secondary__footer--icons{
    text-align: center;
    order: 3;
}

.copy__right{
    order: 4;
    margin-top: .85em;
}


.footer__logo{
    width: 40%;
    margin-bottom: 2em;
}

.socials + .socials{
    padding-left: 1.4em;
}

.socials > img{
    width: 10%;
}

.footer__link--item > a{
    color: hsl(0, 0%, 98%);
    font-size: .9em;
    font-weight: 400;
}

.footer__link--item {
    margin-bottom: .9em;
}

.footer__link--list{
    width: 45%;
    padding-left: 2em;
}


.update__area{
    text-align: center;
    order: 1;
}

.input__area{
    padding: .85em 1.2em;
    border-radius: 100px;
    border: none;
    margin-right: .5em;
}

.input__btn{
    font-size: 1em;
    padding: .75em 1.8em;
}

.copy-right{
    font-size: .7em;
    margin-top: 40px;
}


/* carousel */

@media  (min-width: 464px) {
    .container{
        margin-right: 0;
    }

    .nav-toggle{
        display: none;
    }

    .nav{
        visibility: visible;
        display: flex;
        height: auto;
        position: relative;
        align-items: center;
        justify-content: flex-end;
    }

   .nav> button{
    display: block;
   }

   header{
    display: flex;
    /* justify-content: space-around; */
   }
}